* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 800px;
    width: 800px;
    background-color: #2c2c2c;
    border: 2px solid red;
}

.btn {
    background-color: cadetblue;
    border-radius: 9px;
    width: 100px;
    color: white;
}

.ul {
    background-color: chartreuse;
    font-size: 22px;

}

.btn:hover {
    background: linear-gradient(red, blue, yellow, green, black);
}